@import url("https://fonts.googleapis.com/css?family=Lato");

.arrow-up {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 55px solid #fb667a;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 55px solid #fb667a;
}

.padding-top {
	padding-top: 65px;
}

.padding-bottom {
	padding-bottom: 65px;
}

body {
	margin: 0;
	padding: 0;
}

.flex-wrapper {
	display: flex;
	flex-direction: column;
}

#home header h1 {
	width: 300px;
	text-align: center;
}

#home header h3 {
	width: 300px;
}

#mainHeading {
	color: red;
}

.funParagraph {
	color: green;
}

nav {
	background-color: #fb667a;
	height: 60px;
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
nav ul {
	margin: 0;
	padding: 0;
	width: 800px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
nav ul li a {
	text-decoration: none;
	color: #323c50;
}
nav ul li a:hover {
	color: #1f2739;
}
nav ul li a h3 {
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
}
nav ul li a i {
	display: none !important;
}

#home,
#contact,
#about {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: auto;
	padding-top: 60px;
	background-color: #1f2739;
}
#home header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#home header h1,
#contact h1 {
	font-size: 40px;
	font-family: "Lato", sans-serif;
	padding: 15px;
	text-transform: uppercase;
	background-color: #323c50;
	color: #14f1b9;
	margin-bottom: 0;
	margin-top: 0;
}
#home header h3,
#about h3,
#contact h3 {
	font-size: 25px;
	font-family: "Lato", sans-serif;
	padding: 15px;
	background-color: #14f1b9;
	color: #323c50;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 0;
	display: flex;
}
#home header ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
}
#home header ul li {
	display: flex;
	justify-content: center;
	align-items: center;
}
#home header ul li a {
	text-decoration: none;
	color: #1f2739;
}
#home header ul li a:hover {
	color: #323c50;
}
#home header ul li a i {
	font-size: 30px;
}

#about {
	background-color: #fb667a;
	justify-content: start;
	flex-direction: column;
	height: auto;
}
#about h3 {
	margin-top: 40px;
	padding: 15px;
	background-color: #1f2739;
	text-transform: uppercase;
	color: #14f1b9;
	font-size: 20px;
	font-family: "Lato", sans-serif;
}
#about-paragraph {
	padding: 10px 60px;
	font-size: 35px;
	font-family: "Lato", sans-serif;
	color: #323c50;
	text-align: center;
	max-width: 500px;
}
#about-logos {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
#about-logos img {
	width: 90px;
	height: 90px;
	margin: 10px;
}

#projects {
	padding: 20px;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	background-color: #fb667a;
	height: auto;
}
#projects h3 {
	margin-top: 40px;
	padding: 15px;
	background-color: #1f2739;
	text-transform: uppercase;
	color: #14f1b9;
	font-size: 20px;
	font-family: "Lato", sans-serif;
}
#projects #tabs {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	margin-bottom: 80px;
}

#projects .tabs-item.hidden {
	display: none;
}
#projects .tabs-item .box-image {
	display: block;
	margin-top: 20px;
	height: 300px;
	width: 500px;
	border: 6px solid #fff;
	border-radius: 5px;
	box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.26);
}

#projects .tabs-link {
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	margin: 5px;
	background-color: #1f2739;
	border: solid 3px #fb667a;
	display: inline-block;
}

#contact {
	justify-content: start;
	flex-direction: column;
	height: auto;
}
#contact h1 {
	background-color: #323c50;
	color: #14f1b9;
	margin-top: 40px;
	margin-bottom: 0;
	padding: 15px;
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
}
#contact h3 {
	margin-top: 0;
	margin-bottom: 30px;
	padding: 15px;
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	background-color: #14f1b9;
	color: #323c50;
}
#contact form {
	margin-bottom: 40px;
}
#contact form .form-group {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}
#contact form .form-group .form-control {
	height: 40px;
	width: 380px;
	background-color: #1f2739;
	border: 2px solid #14f1b9;
	color: #fff;
	font-size: 24px;
	padding-left: 10px;
}
#contact form textarea {
	height: 100px !important;
	padding: 10px 0;
	outline: red;
}
#contact form label {
	font-size: 20px;
	font-family: "Lato", sans-serif;
	color: #14f1b9;
	margin-bottom: 3px;
}
#contact form button {
	height: 40px;
	width: 80px;
	margin-top: 10px;
	background-color: #14f1b9;
	color: #1f2739;
	font-size: 15px;
	font-family: "Lato", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	outline: inherit !important;
}
footer {
	color: #14f1b9;
	background-color: #1f2739;
	text-align: center;
}
@media (max-width: 500px) {
	.arrow-up {
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-bottom: 40px solid #fb667a;
	}

	.arrow-down {
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-top: 40px solid #fb667a;
	}

	.padding-top {
		padding-top: 55px;
	}

	.padding-bottom {
		padding-bottom: 55px;
	}

	nav ul li a h3 {
		display: none;
	}
	nav ul li a i {
		display: block !important;
		color: #323c50;
		font-size: 40px !important;
	}

	#home header h1,
	#about header h1,
	#contact header h1 {
		font-size: 26px;
	}
	#home header h3,
	#about header h3,
	#contact header h3 {
		font-size: 18px;
	}
	#home header ul li a i,
	#about header ul li a i,
	#contact header ul li a i {
		font-size: 20px;
	}

	#about #about-paragraph {
		padding: 10px 20px;
	}
	#about #about-logos div {
		text-align: center;
	}

	#projects #tabs {
		margin-bottom: 40px;
	}
	#projects .tabs-item .box-image {
		width: 260px;
		height: 190px;
	}

	#contact {
		padding-top: 20px;
	}
	#contact form .form-group .form-control {
		width: 240px;
	}
}
